<div><span class="title">Quanment</span><span class="history">History</span></div>
<nav class="navbar">
  <div class="NavbarTitle">Welcome To Quantity Measurement</div>
</nav>
<div class="quantity">
  <div routerLink="/length" class="quantityItems"><img src="../../../assets/images/ruler.png" class="quantityImage">
    <div>length</div>
  </div>
  <div routerLink="/volume" class="quantityItems"><img src="../../../assets/images/thermometer.png"
      class="quantityImage">
    <div>volume</div>
  </div>
  <div routerLink="/temperature" class="quantityItems"><img src="../../../assets/images/beaker.png"
      class="quantityImage">
    <div>temperature</div>
  </div>

<form>
  <input type="text" class="typeOne" name="typeTwo">
  <input type="text" class="typeTwo" name="typeOne">
</form>
<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="#">HTML</a></li>
    <li><a href="#">CSS</a></li>
    <li><a href="#">JavaScript</a></li>
  </ul>

  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="#">HTML</a></li>
    <li><a href="#">CSS</a></li>
    <li><a href="#">JavaScript</a></li>
  </ul>

</div>
<router-outlet></router-outlet>